{%from 'form_macros.html' import modal_form,flash_message,render_wifisite,render_field_with_erros%}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{_('Welcome to Unifispot')}}</title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    {% assets "global_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

     {% assets "wizard_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}   
    <!-- END GLOBAL MANDATORY STYLES -->
    {% block css_block %}
    <style>
    .scroll_content{
        background: #fff;
        padding: 20px;
        position: relative;

    }

    .white_bg{
        background: #fff;
        padding: 20px;
        position: relative;

    }
    </style>
    {%endblock%}

</head>

<body >

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{current_user.displayname}}</strong>
                             </span> <span class="text-muted text-xs block">{{current_user.email}}<b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="{{url_for('security.logout')}}">{{_('Logout')}}</a></li>
                            </ul>
                    </div>
                    <div class="logo-element">
                        USpot
                    </div>
                </li>
                {% block left_menu %}

                {% endblock %}
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">{{_('Welcome to UnifiSpot')}}</span>
                    </li>
                    <li class="dropdown " id='site-list'>
                        {%block site_select %}
                        {%endblock%}
                    </li>
                    <li>
                        <a href="#" id="usermodal-edit"><i class="fa fa-cog"></i></a>
                    </li>
                    <li>
                        <a href="{{url_for('security.logout')}}">
                            <i class="fa fa-sign-out"></i> {{_('Log out')}}
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        
        <div class="wrapper wrapper-content animated fadeInRight">

            {{flash_message()}}
            {%block main_content %}
            



                    <div class="row">
                        <form class="wizard-big form-horizontal" role="form" id="firstrun-form" action="">
                            {{settings_form.hidden_tag() }}
                            <h1>{{_('License Agreement')}}</h1>
                            <fieldset>
                        <div class="scroll_content">
                            <p>
                                {{_('Poppet is released under the AGPL, however copyright license and author information must be displayed wherever it is shown in the original version.')}}
                            </p>

                            <p>
                                {{_('Reffer to')}}<a href="https://raw.githubusercontent.com/unifispot/poppet/master/LICENSE.txt">{{_('License.txt')}}</a> {{_('for full licensing conditions.')}}
                            </p>

                            <p>
                               
                                    
                                        <div class="i-checks"><label> <input type="checkbox" id='accept_tos' name='accept_tos'><i></i>{{_(' I agree with the Terms and Conditions.')}}</label></div>
                                    
                               
                            </p>
                        </div>
                            </fieldset>   

                            <h1>Settings</h1>
                            <fieldset>
                                <div class="row">

                                    {{render_field_with_erros(settings_form.unifi_server,required='1')}}
                                    {{render_field_with_erros(settings_form.unifi_server_ip,required='1')}}
                                    {{render_field_with_erros(settings_form.unifi_port,required='1')}}
                                    {{render_field_with_erros(settings_form.unifi_user,required='1')}}
                                    {{render_field_with_erros(settings_form.unifi_pass,required='1')}}



                                </div>
                            </fieldset>      

                            <h1>{{_('Finish')}}</h1>
                            <fieldset>
                                <div class="white_bg">

                                    <h2> {{_('Follow Us')}}<h2>
                                    <div class="text-center">
                                        
                                        <a class="github-button" href="https://github.com/unifispot" data-style="mega" data-count-href="/unifispot/followers" data-count-api="/users/unifispot#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @unifispot on GitHub">{{_('Follow @unifispot')}}</a>
                                        
                                        <a class="github-button" href="https://github.com/unifispot/poppet" data-icon="octicon-star" data-style="mega" data-count-href="/unifispot/poppet/stargazers" data-count-api="/repos/unifispot/poppet#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star unifispot/poppet on GitHub">{{_('Star')}}</a>

                                        <a class="github-button" href="https://github.com/unifispot/poppet" data-icon="octicon-eye" data-style="mega" data-count-href="/unifispot/poppet/watchers" data-count-api="/repos/unifispot/poppet#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch unifispot/poppet on GitHub">{{_('Watch')}}</a>
                                    </div>

                                    <h2> {{_('Join Our Community')}}<h2>
                                    <div class="text-center">
                                        <a class="" href="https://discuss.unifispot.com" target="_blank">{{_('Join')}}</a>

                                    </div>

                                </div>
                            </fieldset>          
   
                        </form> 
                    </div>









            {%endblock%}
        </div>
        <div class="footer">
            <div class="pull-right">
                
            </div>
            <div>
                <strong>Copyright</strong> Unifispot &copy; 2015-2016
            </div>
        </div>

    </div>
</div>

<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
{% assets "core_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>

{% endassets %}
{% assets "wizard_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>

{% endassets %}
{% assets "install_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>

{% endassets %}
<script>
    $(document).ready(function() {
        var userform = new ModalForm("{{url_for('admin.user_api',id=current_user.id)}}",'usermodal');
        $('body').addClass('mini-navbar');

        // Add slimscroll to element
        $('.scroll_content').slimscroll({
            height: '200px'
        })


     });
</script>


<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- END CORE PLUGINS -->
{% block js_block %}

{%endblock%}
</body>

</html>
